In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time

from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans

In [2]:
combo_df = pd.read_csv('combo_df.csv')

combo_df = pd.get_dummies(combo_df, columns=['Ticker'])
combo_df.head()

,Revenue,Gross Profit,Operating Income,Income Tax Provision,Net Income Common,Total Assets,Total current assets,Total liabilities,Total current liabilities,Shareholders Equity (Total),...,Ticker_ZIXI,Ticker_ZM,Ticker_ZNGA,Ticker_ZS,Ticker_ZTS,Ticker_ZUMZ,Ticker_ZUO,Ticker_ZVO,Ticker_ZYNE,Ticker_ZYXI
0,3.252080e+11,1.266010e+11,8.890300e+10,1.331700e+10,7.631100e+10,3.371580e+11,1.214650e+11,2.679800e+11,1.063850e+11,6.917800e+10,...,0,0,0,0,0,0,0,0,0,0
1,2.939710e+11,1.137350e+11,7.425300e+10,1.082200e+10,6.393000e+10,3.540540e+11,1.541060e+11,2.878300e+11,1.325070e+11,6.622400e+10,...,0,0,0,0,0,0,0,0,0,0
2,2.742470e+11,1.042750e+11,6.628800e+10,9.680000e+09,5.741100e+10,3.238880e+11,1.437130e+11,2.585490e+11,1.053920e+11,6.533900e+10,...,0,0,0,0,0,0,0,0,0,0
3,2.736210e+11,1.039940e+11,6.713800e+10,9.893000e+09,5.842400e+10,3.173440e+11,1.400650e+11,2.450620e+11,9.531800e+10,7.228200e+10,...,0,0,0,0,0,0,0,0,0,0
4,2.680150e+11,1.021730e+11,6.559100e+10,9.876000e+09,5.721500e+10,3.204000e+11,1.437530e+11,2.419750e+11,9.609400e+10,7.842500e+10,...,0,0,0,0,0,0,0,0,0,0

In [3]:
start_time = time.time()

#scale the data
sc = StandardScaler()
X_train_k = sc.fit_transform(combo_df)

#instantiate the KMeans model
km = KMeans(n_clusters=6)
km.fit(X_train_k)

# set the cluster labels
combo_df['cluster'] = km.labels_

print(f"This code took {round(time.time() - start_time)} seconds to run")

This code took 94 seconds to run

In [ ]:
start_time = time.time()

km.cluster_centers_

print(f"This code took {round(time.time() - start_time)} seconds to run")

In [ ]:
start_time = time.time()

centroids = pd.DataFrame(
    sc.inverse_transform(km.cluster_centers_),
    columns = [combo_df.columns[:-1]]
)

print(f"This code took {round(time.time() - start_time)} seconds to run")

In [ ]:
plt.figure(figsize=(10,25));

## Plot scatter by cluster / color, and centroids
colors = ["red", "green", "blue",'yellow','orange','gray']
combo_df['color'] = combo_df['cluster'].map(lambda p: colors[p])

ax = combo_df.plot(    
    kind="scatter", 
    x="Total Assets", y="Total liabilities",
    figsize=(12,12),
    c = combo_df['color'], s=5
)

#plt.xlim(0,5E11)
#plt.ylim(0,5E11)


# centroids.plot(
#     kind="scatter", 
#     x="Gross Profit", y="Net Income Common", 
#     marker="*", c=["red", "green", "blue",'yellow','orange','black'], s=1000,
#     ax=ax
# )